* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

// les $ servent à appeler directement la valeur de la variable sans devoir modifier un a un
$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;

$green-color: #008766;
$light-blue-color: #89c8fa;
$dark-blue-color: #003a68;

$font-tittle-logo: "Shrikhand", serif;

// mixin sert à stocker des settings complet
// @include + nom pour s'en servir
@mixin common-styles {
  display: flex;
  margin: 0;
}

.fa-solid {
  color: #353535;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.header__box {
  @include common-styles;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  box-shadow: 0px 2px 4px 0px #00000026;

  &__iconBack {
    padding: 10px;
    position: absolute;
    display: none;
  }
  &__LogoTitle {
    font-family: $font-tittle-logo;
    color: #101010;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.header__locationBox {
  @include common-styles;
  width: 100%;
  gap: 15px;
  height: 50px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
  &__city {
    border: none;
    outline: none;
    background: none;
    &::placeholder {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

footer {
  background-color: #353535;
  color: white;
}

.footer__box {
  @include common-styles;
  flex-direction: column;
  gap: 16px;
  width: auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
  &__TitleLogo {
    font-family: $font-tittle-logo;
    font-weight: 400;
    font-size: 18px;
  }
  &__ul {
    &__li {
      padding: 5px;
      &__Resto,
      &__Partenaire {
        font-weight: 500;
      }
    }
  }
}

// Icon du footer
.fa-utensils,
.fa-handshake-angle {
  color: white;
  width: 11px;
  height: auto;
  padding-right: 12px;
}

// desktop
@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
  }
}
