* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

// les $ servent à appeler directement la valeur de la variable sans devoir modifier un a un
$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;

$green-color: #008766;
$light-blue-color: #89c8fa;
$dark-blue-color: #003a68;

$grey--35: #353535;
$grey--7E: #7E7E7E;

$font-tittle-logo: "Shrikhand", serif;

// MIXIN sert à stocker des settings complet
// @include + nom pour s'en servir
@mixin common-styles {
  display: flex;
  margin: 0;
}

@mixin button_style {
  display: flex;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
  box-shadow: 0px 4px 10px 0px #00000040;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin button_style--hover {
  background: linear-gradient(200.64deg, $primary-color -5.2%, $secondary-color 110.74%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px #00000059;


}


// incon (fa-solid) and others
.fa-solid {
  color: $grey--35;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

// HEADER
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.header__box {
  @include common-styles;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  box-shadow: 0px 2px 4px 0px #00000026;

  &__iconBack {
    padding: 10px;
    padding-left: 20px;
    position: absolute;
    font-size: 25px;
  }

  &__LogoTitle {
    font-family: $font-tittle-logo;
    color: #101010;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.header__locationBox {
  @include common-styles;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;

  &__city {
    border: none;
    outline: none;
    background: none;
    padding-left: 16px;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: $grey--35;
    }
  }

}

// SECTION EXPLORER RESTO
.Explorer-restaurants {
  @include common-styles;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-top: 35px;
  gap: 15px;
  background-color: #f6f6f6;

  &__Title {
    font-size: 24px;
    font-weight: 700;
    width: 81%;
  }

  &__paragraphe {
    font-weight: 300;
    font-size: 18px;
    color: $grey--35;
  }

  &__ButtonBox {
    width: 218px;
    display: flex;
    margin-top: 15px;


    &__Button {
      @include button_style;

      // VOIR POUR RENDRE PLUS BLANC LE FOND !!!!
      &:hover {
        @include button_style--hover;
      }
    }
  }
}

// SECTION FONCTIONNEMENT
.Fonctionnement {
  @include common-styles;
  position: relative;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;

  &__Title {
    font-size: 24px;
    font-weight: 700;
  }

  &__EtapesBox {
    @include common-styles;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    margin-right: 7px;
    gap: 30px;

    &__cards {
      @include common-styles;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      background-color: #f6f6f6;
      height: 72px;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0px 4px 15px 0px #00000026;

      &:hover .color-change--hover {
        color: $primary-color;
      }

      &__Title {
        padding-left: 78px;
      }

      &__number {
        @include common-styles;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 24px;
        height: 24px;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        background-color: $primary-color;
        border-radius: 20px;
        padding: 2px;
        left: 15px;
      }
    }
  }
}

// ICON FONCTIONNEMENT__ETAPESBOX__CARDS
.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  color: $grey--7E;
  font-size: 20px;
  position: absolute;
  left: 65px;
}


// LISTE RESTO
.Restaurants-listes {
  @include common-styles;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 30px;

  &__Title {
    font-size: 24px;
    font-weight: 700;
  }

  &__Box {
    @include common-styles;
    flex-direction: column;
    position: relative;
    gap: 20px;

    &__LienCard {
      min-width: 340px;
      height: 251px;
      border-radius: 15px;
      box-shadow: 0px 4px 15px 0px #0000001A;
      background-color: #ffffff;


      &__Cards {
        @include common-styles;
        flex-direction: column;
        gap: 14px;

        &__Nouveau {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $third-color;
          color: $green-color;
          height: 29px;
          width: 80px;
          border-radius: 2px;
          box-shadow: 0px 2px 4px 0px #00000026;
          font-size: 14px;
          font-weight: 500;
          right: 12px;
          margin-top: 13px;
        }

        &__img {
          height: 180px;
          object-fit: cover;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }

        &__CardInfo {
          @include common-styles;
          align-items: center;
          justify-content: space-between;
          padding-left: 15px;
          padding-right: 20px;

          &__Title-and-street {
            &__Title {
              font-weight: 700;
              font-size: 18px;
            }

            &__Quartier {
              font-size: 17px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

.fa-heart {
  font-size: 21px;
}


// background indique la couleur de l'arriere plan, background clip indique que l'on veut mettre le background sur la police
// webkit est une extension qui a la meme utilité que background-clip mais pour chrome
.heart-color-change {
  position: absolute;
  right: 20px;
  color: transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.fa-heart:hover {
  opacity: 1;
}


// FOOTER
footer {
  background-color: $grey--35;
  color: white;
}

.footer__box {
  @include common-styles;
  flex-direction: column;
  gap: 16px;
  width: auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 25px;
  padding-bottom: 25px;

  &__TitleLogo {
    font-family: $font-tittle-logo;
    font-weight: 400;
    font-size: 18px;
  }

  &__ul {
    &__li {
      padding: 5px;

      &__Resto,
      &__Partenaire {
        font-weight: 500;
      }
    }
  }
}

// Icon du footer
.fa-utensils,
.fa-handshake-angle {
  color: white;
  width: 11px;
  height: auto;
  padding-right: 12px;
}


// desktop
@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
  }
}

// Autres pages avec menu

.main-content-menu {
  display: flex;
  flex-direction: column;
}

.Photo-restaurant-Box {
  &__Photo-plat {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

// LISTE PLATS

@mixin Entrees-plats-desserts {
  @include common-styles;
  flex-direction: column;
  gap: 12px;

  &__Title-box {
    @include common-styles;
    flex-direction: column;
    height: 27px;
    justify-content: space-between;
    opacity: 0;

    &__Title {
      font-weight: 300;
      font-size: 16px;
    }

    &__Trait {
      width: 40px;
      height: 3px;
      background-color: $third-color;

    }
  }

}

@mixin Card-entrees-plats-desserts {
  @include common-styles;
  justify-content: space-between;
  padding-left: 10px;
  gap: 5px;
  height: 69px;
  background-color: white;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;

  &__info-plat {
    @include common-styles;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;

    &__Title {
      font-size: 18px;
      font-weight: 500;
      padding-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__composition {
      font-size: 15px;
      font-weight: 300;
      white-space: nowrap;
      /* Empêchez le texte de passer à la ligne white-space uniquement pour le texte */
      overflow: hidden;
      text-overflow: ellipsis;
      /* ajoute les 3 petits points si ça depasse */
    }
  }

  &__Prix {
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-top: 25px;
    margin-right: 10px;
  }

  // ANIMATION DU CHECKBOX
  &__Checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $third-color;
    height: 69px;
    width: 59px;
    margin-right: -60px;
    transition: margin-right 0.6s ease-in-out;
  }


}

// ICON checkbox
.fa-circle-check {
  color: #ffffff;
  font-size: 20px;
}

.Checkbox-and-price {
  display: flex;

}


.Liste-des-plats__Entrees__card:hover .Checkbox {
  margin-right: 0;

}

.Liste-des-plats__Plats__card:hover .Checkbox {
  margin-right: 0;

}

.Liste-des-plats__Desserts__card:hover .Checkbox {
  margin-right: 0;

}


.Liste-des-plats {
  @include common-styles;
  flex-direction: column;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  gap: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -50px;

  &__Titre-et-likeButton {
    @include common-styles;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    align-items: center;

    &__Title {
      font-family: $font-tittle-logo;
      font-weight: 400;
      font-size: 28px;
    }

  }

  // ENTREES
  &__Entrees {
    @include Entrees-plats-desserts;

    &__card {
      @include Card-entrees-plats-desserts;
    }
  }

  // PLATS
  &__Plats {
    @include Entrees-plats-desserts;

    &__card {
      @include Card-entrees-plats-desserts;
    }
  }

  // DESSERTS
  &__Desserts {
    @include Entrees-plats-desserts;

    &__card {
      @include Card-entrees-plats-desserts;
    }
  }

  // Bouton commander
  &__Commander {
    @include common-styles;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

    &__Button {
      @include button_style;
      width: 186px;
    }

    &__Button:hover {
      @include button_style--hover;
    }
  }
}


// ANIMATION DE L'APPARITION DES CARDS du menu

.Title-Box-Fade1 {
  animation: fadeIn 1s ease-in-out 0.1s forwards;
}

.Card-Fade1 {
  animation: fadeIn 1s ease-in-out 0.2s forwards;
}

.Card-Fade2 {
  animation: fadeIn 1s ease-in-out 0.4s forwards;
}

.Card-Fade3 {
  animation: fadeIn 1s ease-in-out 0.6s forwards;
}

.Title-Box-Fade2 {
  animation: fadeIn 1s ease-in-out 0.7s forwards;
}

.Card-Fade4 {
  animation: fadeIn 1s ease-in-out 0.8s forwards;
}

.Card-Fade5 {
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.Card-Fade6 {
  animation: fadeIn 1s ease-in-out 1.2s forwards;
}

.Title-Box-Fade3 {
  animation: fadeIn 1s ease-in-out 1.3s forwards;
}

.Card-Fade7 {
  animation: fadeIn 1s ease-in-out 1.4s forwards;
}

.Card-Fade8 {
  animation: fadeIn 1s ease-in-out 1.6s forwards;
}

.Card-Fade9 {
  animation: fadeIn 1s ease-in-out 1.8s forwards;
}

// Fondu des cards de plats
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}