@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.fa-solid {
  color: #353535;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

.header__box {
  display: flex;
  margin: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__box__iconBack {
  padding: 10px;
  padding-left: 20px;
  position: absolute;
  font-size: 25px;
}
.header__box__LogoTitle {
  font-family: "Shrikhand", serif;
  color: #101010;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header__locationBox {
  display: flex;
  margin: 0;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
}
.header__locationBox__city {
  border: none;
  outline: none;
  background: none;
  padding-left: 16px;
}
.header__locationBox__city::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
.header__locationBox__city::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

.Explorer-restaurants {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-top: 35px;
  gap: 15px;
  background-color: #f6f6f6;
}
.Explorer-restaurants__Title {
  font-size: 24px;
  font-weight: 700;
  width: 81%;
}
.Explorer-restaurants__paragraphe {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
.Explorer-restaurants__ButtonBox {
  width: 218px;
  display: flex;
  margin-top: 15px;
}
.Explorer-restaurants__ButtonBox__Button {
  display: flex;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.Explorer-restaurants__ButtonBox__Button:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.Fonctionnement {
  display: flex;
  margin: 0;
  position: relative;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 40px;
}
.Fonctionnement__Title {
  font-size: 24px;
  font-weight: 700;
}
.Fonctionnement__EtapesBox {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  margin-right: 7px;
  gap: 30px;
}
.Fonctionnement__EtapesBox__cards {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #f6f6f6;
  height: 72px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.Fonctionnement__EtapesBox__cards:hover .color-change--hover {
  color: #9356dc;
}
.Fonctionnement__EtapesBox__cards__Title {
  padding-left: 78px;
}
.Fonctionnement__EtapesBox__cards__number {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 20px;
  padding: 2px;
  left: 15px;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  color: #7E7E7E;
  font-size: 20px;
  position: absolute;
  left: 65px;
}

.Restaurants-listes {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 30px;
}
.Restaurants-listes__Title {
  font-size: 24px;
  font-weight: 700;
}
.Restaurants-listes__Box {
  display: flex;
  margin: 0;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.Restaurants-listes__Box__LienCard {
  min-width: 340px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #ffffff;
}
.Restaurants-listes__Box__LienCard__Cards {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 14px;
}
.Restaurants-listes__Box__LienCard__Cards__Nouveau {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #008766;
  height: 29px;
  width: 80px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-size: 14px;
  font-weight: 500;
  right: 12px;
  margin-top: 13px;
}
.Restaurants-listes__Box__LienCard__Cards__img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.Restaurants-listes__Box__LienCard__Cards__CardInfo {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
}
.Restaurants-listes__Box__LienCard__Cards__CardInfo__Title-and-street__Title {
  font-weight: 700;
  font-size: 18px;
}
.Restaurants-listes__Box__LienCard__Cards__CardInfo__Title-and-street__Quartier {
  font-size: 17px;
  font-weight: 300;
}

.fa-heart {
  font-size: 21px;
}

.heart-color-change {
  position: absolute;
  right: 20px;
  color: transparent;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fa-heart:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
}

.footer__box {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 16px;
  width: auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer__box__TitleLogo {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 18px;
}
.footer__box__ul__li {
  padding: 5px;
}
.footer__box__ul__li__Resto, .footer__box__ul__li__Partenaire {
  font-weight: 500;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
  width: 11px;
  height: auto;
  padding-right: 12px;
}

@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
  }
}
.main-content-menu {
  display: flex;
  flex-direction: column;
}

.Photo-restaurant-Box__Photo-plat {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-circle-check {
  color: #ffffff;
  font-size: 20px;
}

.Checkbox-and-price {
  display: flex;
}

.Liste-des-plats__Entrees__card:hover .Checkbox {
  margin-right: 0;
}

.Liste-des-plats__Plats__card:hover .Checkbox {
  margin-right: 0;
}

.Liste-des-plats__Desserts__card:hover .Checkbox {
  margin-right: 0;
}

.Liste-des-plats {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  gap: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -50px;
}
.Liste-des-plats__Titre-et-likeButton {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  align-items: center;
}
.Liste-des-plats__Titre-et-likeButton__Title {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
}
.Liste-des-plats__Entrees {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 12px;
}
.Liste-des-plats__Entrees__Title-box {
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 27px;
  justify-content: space-between;
  opacity: 0;
}
.Liste-des-plats__Entrees__Title-box__Title {
  font-weight: 300;
  font-size: 16px;
}
.Liste-des-plats__Entrees__Title-box__Trait {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.Liste-des-plats__Entrees__card {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-left: 10px;
  gap: 5px;
  height: 69px;
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;
}
.Liste-des-plats__Entrees__card__info-plat {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.Liste-des-plats__Entrees__card__info-plat__Title {
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Liste-des-plats__Entrees__card__info-plat__composition {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  /* Empêchez le texte de passer à la ligne white-space uniquement pour le texte */
  overflow: hidden;
  text-overflow: ellipsis;
  /* ajoute les 3 petits points si ça depasse */
}
.Liste-des-plats__Entrees__card__Prix {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-right: 10px;
}
.Liste-des-plats__Entrees__card__Checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  height: 69px;
  width: 59px;
  margin-right: -60px;
  transition: margin-right 0.6s ease-in-out;
}
.Liste-des-plats__Plats {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 12px;
}
.Liste-des-plats__Plats__Title-box {
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 27px;
  justify-content: space-between;
  opacity: 0;
}
.Liste-des-plats__Plats__Title-box__Title {
  font-weight: 300;
  font-size: 16px;
}
.Liste-des-plats__Plats__Title-box__Trait {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.Liste-des-plats__Plats__card {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-left: 10px;
  gap: 5px;
  height: 69px;
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;
}
.Liste-des-plats__Plats__card__info-plat {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.Liste-des-plats__Plats__card__info-plat__Title {
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Liste-des-plats__Plats__card__info-plat__composition {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  /* Empêchez le texte de passer à la ligne white-space uniquement pour le texte */
  overflow: hidden;
  text-overflow: ellipsis;
  /* ajoute les 3 petits points si ça depasse */
}
.Liste-des-plats__Plats__card__Prix {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-right: 10px;
}
.Liste-des-plats__Plats__card__Checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  height: 69px;
  width: 59px;
  margin-right: -60px;
  transition: margin-right 0.6s ease-in-out;
}
.Liste-des-plats__Desserts {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 12px;
}
.Liste-des-plats__Desserts__Title-box {
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 27px;
  justify-content: space-between;
  opacity: 0;
}
.Liste-des-plats__Desserts__Title-box__Title {
  font-weight: 300;
  font-size: 16px;
}
.Liste-des-plats__Desserts__Title-box__Trait {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.Liste-des-plats__Desserts__card {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-left: 10px;
  gap: 5px;
  height: 69px;
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  opacity: 0;
  overflow: hidden;
}
.Liste-des-plats__Desserts__card__info-plat {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.Liste-des-plats__Desserts__card__info-plat__Title {
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Liste-des-plats__Desserts__card__info-plat__composition {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  /* Empêchez le texte de passer à la ligne white-space uniquement pour le texte */
  overflow: hidden;
  text-overflow: ellipsis;
  /* ajoute les 3 petits points si ça depasse */
}
.Liste-des-plats__Desserts__card__Prix {
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-right: 10px;
}
.Liste-des-plats__Desserts__card__Checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  height: 69px;
  width: 59px;
  margin-right: -60px;
  transition: margin-right 0.6s ease-in-out;
}
.Liste-des-plats__Commander {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.Liste-des-plats__Commander__Button {
  display: flex;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  width: 186px;
}
.Liste-des-plats__Commander__Button:hover {
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.Title-Box-Fade1 {
  animation: fadeIn 1s ease-in-out 0.1s forwards;
}

.Card-Fade1 {
  animation: fadeIn 1s ease-in-out 0.2s forwards;
}

.Card-Fade2 {
  animation: fadeIn 1s ease-in-out 0.4s forwards;
}

.Card-Fade3 {
  animation: fadeIn 1s ease-in-out 0.6s forwards;
}

.Title-Box-Fade2 {
  animation: fadeIn 1s ease-in-out 0.7s forwards;
}

.Card-Fade4 {
  animation: fadeIn 1s ease-in-out 0.8s forwards;
}

.Card-Fade5 {
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.Card-Fade6 {
  animation: fadeIn 1s ease-in-out 1.2s forwards;
}

.Title-Box-Fade3 {
  animation: fadeIn 1s ease-in-out 1.3s forwards;
}

.Card-Fade7 {
  animation: fadeIn 1s ease-in-out 1.4s forwards;
}

.Card-Fade8 {
  animation: fadeIn 1s ease-in-out 1.6s forwards;
}

.Card-Fade9 {
  animation: fadeIn 1s ease-in-out 1.8s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */